#BH{
		text-align: center;
		font-style: italic;
		font-size: 80px;
		color: seagreen;
		font:oblique;
		text-shadow: -1px 1px 0 #000,
                              1px 1px 0 #000,
                             1px -1px 0 #000,
                            -1px -1px 0 #000;
	}

	
#bdy{
		background-color: lightskyblue;
		text-align: center;
	}

html {

	        scroll-behavior: smooth;
  	}
body {
  height: 1350px; /* Used to enable scrolling */
  background: linear-gradient(55deg,#63ab69 0%, #69c2ba 51%, #245f96 85%);
}
