#BH{
		text-align: center;
		font-style: italic;
		font-size: 80px;
		color: seagreen;
		font:oblique;
		text-shadow: -1px 1px 0 #000,
                              1px 1px 0 #000,
                             1px -1px 0 #000,
                            -1px -1px 0 #000;
	}

#ag{
		width:560px;
		height:315px;
	}	
#bdy{
		background-color: lightskyblue;
		text-align: center;
	}

html {

	        scroll-behavior: smooth;
  	}
