#BH{
		text-align: center;
		font-style: italic;
		font-size: 80px;
		color: seagreen;
		font:oblique;
	}

	
#bdy{
		background-color: lightskyblue;
		text-align: center;
	}

html {

	        scroll-behavior: smooth;
  	}
body {
  height: 3000px; /* Used to enable scrolling */
  background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 85%);
}
